name: Push Main
on:
  pull_request:
    branches:
      - anhnt_dev_1
  push:
    branches:
      - anhnt_dev_1

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to Cloudflare Pages
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        run: |
          cd docs
          echo '{}' > package.json
          npx wrangler pages deploy . --project-name=subwallet-landing2
